.center {
    display: block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.middle {
    position: fixed;
    left: 25%;
    top:50%;
    width: 50%;
    display: block;
    text-align: center;
    margin: auto;
    height: 100%;
}
#mainMenue {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/cityIcon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
}
#gameUi{
    height: 100%;
}